
.upload{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 150px;
  
}
.upload p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #000000;
  font-family: Arial;
}
.upload input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
.upload button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
}
.upload button:hover{
  background: #149174;
	color: #0C5645;
}
.upload button:active{
  border:0;
}



